###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
/config/routes/dev/annotations.yaml
###< symfony/framework-bundle ###
###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
.htaccess
!.htaccess.default
.todo
/db-sqlite/
.phpintel