###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
/config/parameters*.yaml
###< symfony/framework-bundle ###
###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
.htaccess
!.htaccess.default
.todo
.phpintel
.php_cs.cache
tags.*
